h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 50px 0px 50px 0px;
    color: #A57A4C;
}

h3 {
    font-weight: bold;
    color: #A57A4C;
}

.pic {
    overflow: hidden;
}

.pic img {
    transform: scale(1, 1);
    transition: all 0.1s ease-out;
}

.pic img:hover {
    transform: scale(1.2, 1.2);
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #A57A4C;
}

.uc a {
    color: blue;
    text-decoration: none;
    background-color: transparent;
}

.uc :hover {
    color: #A57A4C;
    border-bottom: 5px #A57A4C solid;
    border-radius: 3px;
}

input {
    border-radius: 5px;
}

.wrap {
    /* width: 100vw;
    height: 100vh; */
    background: url("../S__18670610.jpg") no-repeat left bottom;
    background-size: cover;
    /* font-size: 700px; */
    /* text-align: center; */
    line-height: 100vh;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.drop-shadow {
    -webkit-filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.7))
}

.drop-shadow-text {
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1));
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 1))
}

.jqbox-innerhtml {
    position: absolute;
    min-width: 280px;
    max-height: 635px;
    width: 70%;
    top: 25%;
    left: 50%;
    margin-top: -5%;
    margin-left: -35%;
    border: 2px solid;
    border-color: #E8D1B4;
    padding: 2% 6% 2% 6%;
}